<%- include('header') %>
  <%- include('navbar') %>
  <div class="content">
    <div class="content-input">
      <input class="form-control" type="text" name="player_id" id="player_id">
    </div>
    <div class="content-player">
      <a class="content-btn btn" onclick="window.location.href = window.location.href + 'players/' +  document.getElementById('player_id').value"> 查看用户</a>
    </div>
    <div class="content-match">
      <a class="content-btn btn"> 查看比赛</a>
    </div>
  </div>
<%- include('footer') %>
