.navbar-color{
  background-color: #00a7f2;
  height: 60px;
  line-height: 60px;
}
.navbar-logo{
  color: #fff;
  font-size: 26px;
}
.content{
  margin:100px auto;
  width: 400px;
}
.content-player, .content-match{
  margin:20px 0px;
  width: 100%;
}
.content-btn{
  background-color: #00a7f2;
  display:inline-block;
  width: 100%;
  font-size: 26px;
  color: #fff;
}
.content-btn:hover{
  background-color: #04bff7;
  color: #fff;
}
.player-title{
  margin:0px auto 20px;
  width: 100px;
}
.title-font{
  font-size: 20px;
  color: #7E7E7E;
}
.profile-box{
  width: 300px;
  margin: 0 auto;
  height: 150px;
}
.circle-img{
  margin: 10px auto 10px auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid rgba(191, 191, 191, .24);
}
.personaname{
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color:#00a7f2;
}
.left-bar{
  width: 60%;
}
.hero_img{
  height: 30px;
}